body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(252, 252, 252);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.check {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  background-color: rgb(15, 1, 142);
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in-out 0.5s;
}

input[type="checkbox"]:checked ~.check {
  background-color: rgb(21, 14, 233);
  box-shadow: 0 0 0 1200px rgb(8, 8, 8);
}

.check::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  background: rgb(252, 252, 252);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: 0.5s;
}

input[type="checkbox"]:checked ~ .check::before {
  transform: translateX(60px);
}

.check::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: rgb(8, 8, 8);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: 0.5s;
  transform: translateX(-50px);
}

input[type="checkbox"]:checked ~ .check::after {
  transform: translateX(0px);
}